

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Satisfy);



@import url("colors/color-orange.css");


/* #Panel
================================================== */


#switch {
background: #fff;
position: fixed;
display: none;
top: 126px;
z-index: 99999;
width:200px;
margin-left: -100px;
border-radius: 0 5px 5px 0;
		font-family: 'OpenSans-Light-webfont';
-webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);}
#switch p {margin-bottom: 10px; padding-bottom: 15px; padding-top: 5px; border-bottom:#ededed 1px solid; }
#switch ul li {text-transform:uppercase;margin-bottom:0;font-size:12px; display:inline-block;}

	#show {
		z-index: 99999;
		margin-left:0px;
		position:fixed;left:0;
		top:20%;
		background: rgba(40,40,40,.8);
		border-radius:0 3px 3px 0;
		margin-top:10px;
		padding: 20px 5px ;
		cursor: pointer;
	}
#hide {cursor:pointer;line-height:13px;margin-bottom:0px;font-size: 12px;margin-bottom: 0px;}
#setting {
	height: 50px;
	background-image: url('../images/option_panel.png');
	background-repeat:no-repeat;
	background-size:20px 50px;
	width: 20px;
}

.wrap_pattern,.switchlayout {margin-bottom:10px;}
.wrap_pattern p {margin-bottom: 5px!important;}
.content-switcher{
padding: 16px;
overflow: hidden;
}
.content-switcher .m-btn{padding: 5px 10px;
font-size: 12px;
min-width: 70px;
}

.button.small.color.switch {font-size: 12px;text-transform: none;width: 40px;margin: 5px 0px; font-weight: normal; font-family: 'Open Sans';
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) !important; letter-spacing: 0;}

#hide {
	position:absolute;
	background-color:#fff;
	height:30px;
	width:30px;
	top:7px;
	right:7px;
	border-radius: 0 5px 0px 0;
	
}

#hide img {
	height:30px;
	width:30px;
	opacity:0.3;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}

#hide img:hover {
	opacity:0.7;
}


#switch .button {
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-left:5px;
    margin-top:5px;
	height: 15px;
    padding: 5px;
    width: 15px;
	color:#000;
}

#switch p {
	margin:5px 0;
}

.styled-select select {
   background:#f5f5f5;
   border:#ededed 1px solid;
   width: 270px;
   padding: 5px;
   font-size: 13px;
   line-height: 1;
   outline:none;
   border-radius: 3px;
   height: 34px;
   -webkit-appearance: none;
   margin:10px 0;
}

.home-options {
	position:relative;
	width:100%;
	margin-top:10px;
   text-align:center;
   margin:0 auto;
}
.home-options a{
   background:#f5f5f5;
   border:#ededed 1px solid;
   font-size: 13px;
   padding: 5px 30px;
   line-height:40px;
   outline:none;
   text-align:center;
   color:#000;
}
.home-options a:hover{
   background:#f1f1f1;
}



/* #PAGE STYLES */

#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/preload.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}



/* #Navigation
================================================== */



#menu-wrap{
    position: fixed;
	width:100%;
	z-index:1000;
	background:rgba(255,255,255,.98);
	top:0;
	left:0;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.14);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.14);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.14);
}


.logo{
	position:absolute;
	background:url('../images/logo.png') no-repeat center center;
	background-size:120px 40px;
	width:120px;
	height:40px;
	left:50%;
	margin-left:-60px;
	top:15px;
	z-index:1002;
}


.menu-collapser {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
	padding-top:70px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    left: 50%;
    top: 50%;
	margin-left:-20px;
    width: 40px;
    color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 18px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.collapse-button:hover, .collapse-button:focus {
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
	text-align:center;
	margin-top:60px;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
    margin-left:8px;
    margin-right:8px;
}
ul.slimmenu > li {}
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #757575;
    padding: 10px 0px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
    border-bottom:4px solid rgba(29,29,29,0);
    font-size: 12px;
	background-size:0 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
ul.slimmenu li a:hover {
	opacity:.6;
    text-decoration: none;
}

ul.slimmenu li .sub-collapser {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #BBB }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}

li.selected{
}
.links-to-floor li:hover{
	cursor:pointer;
}

ul.dot-nav-wrap{
	position:fixed;
	width:40px;
	height:60px;
	z-index:9999;
	top:28px;
	right:10px;
}
.links-to-floor1 li.selected{
	border-bottom:none;
	margin-bottom:7px;
	background:transparent;
	width:16px;
	height:16px;
	border:1px solid rgba(0,0,0,.4);
	margin-top:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
}
ul.dot-nav-wrap li{
	position:relative;
	float:left;
	display:inline-block;
	cursor:pointer;
	border-radius:50%;
	width:6px;
	height:6px;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:7px;
	margin-right:7px;
}


	.tipper { height: 1px; left: -99999px; position: absolute; pointer-events: none; top: -99999px; width: 1px;z-index:100000; }
	.tipper .tipper-content { background: rgba(0, 0, 0, 0.85);box-shadow: 0 0 25px rgba(0,0,0,0.5);text-transform:uppercase; border-radius: 3px; color: #fff; display: block; float: left; font-family: 'Lato', sans-serif; font-size: 10px; margin: 0; padding: 6px 20px; position: relative; white-space: nowrap; }
	.tipper .tipper-caret { background: url('../images/tipper-icon.png') no-repeat; content: ''; display: block; height: 11px; margin: 0; position: absolute; width: 5px; }

	.tipper.right .tipper-content { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25); }
	.tipper.right .tipper-caret { background-position: left center; left: -5px; top: 0; }

	.tipper.left .tipper-content { box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25); }
	.tipper.left .tipper-caret { background-position: right center; right: -5px; top: 0; }

	.tipper.top .tipper-caret,
	.tipper.bottom .tipper-caret { display: block; float: none; height: 5px; margin: 0 auto; width: 11px; }

	.tipper.top .tipper-content { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25); }
	.tipper.top .tipper-caret { background-position: center bottom; bottom: -5px; left: 0; }

	.tipper.bottom .tipper-content { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
	.tipper.bottom .tipper-caret { background-position: center top; top: -5px; left: 0; }


/* #Head text
================================================== */

.padding-bottom{
	padding-bottom:40px;
}
.padding-bottom h1{
	color:#fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.padding-bottom p{
	text-align:center;
	opacity:.8;
	font-size:90%;
	text-transform:uppercase;
	color:#fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.sep-center{
	position:relative;
	margin:0 auto;
	width:50px;
    border-top:1px solid #fff;
	margin-top:20px;
	margin-bottom:30px;
}
.head-sec{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	padding-top:170px;
	z-index:2;
}



/* #Home
================================================== */

#home{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

.big-text { 
	position: absolute; 
	top: 50%;
	margin-top:-30px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	font-size: 50px; 
	line-height:50px;
	color: #ededed;
	z-index: 20; 
}
.big-text span{ 
	border:1px solid #fff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
}
.small-text { 
	position: absolute; 
	top: 50%;
	margin-top:55px;
	width: 100%;
	font-family: 'Satisfy', cursive;
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-align:center;
	font-size: 23px; 
	line-height:23px;
	z-index: 20; 
}
.flippy {
position: relative;
}
.flippy > * {
position: absolute;
opacity: 0;
width:100%;
top:-100px;
}
.flippy > *:first-child {
opacity: 1;
top: 0;
}
.social-top{ 
	position:absolute;
	top:50%;
	margin-top:100px;
	width:100%;
	z-index:1002;
	height:30px;
	text-align:center;
}
.list-social li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:30px;
    display: inline-block;
	cursor:pointer;
	margin-left:2px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.list-social li.icon-soc a {
	font-family: 'FontAwesome';
	font-size: 15px;
	line-height: 30px;
	width:30px;
	color: #fff;
	opacity:1;
	margin:0;
	padding:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.list-social li:hover{
}
.list-social li:hover.icon-soc a{
	opacity:.6;
}





/* #Slider
================================================== */

#gallery {
position: absolute;
width: 100%;
height: 700px;
top: 0;
left: 0;
}
#controls div {
}
#controls div:hover:not(.counter) {
}
#controls div:not(.counter) {
}
#controls div.sel {
}	
.prev {
	top:50%;
	margin-top:10px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-left.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	left:150px;
	width:31px;
	height:58px;
	z-index:100000;
}
.next {
	top:50%;
	margin-top:10px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-right.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	right:150px;
	width:31px;
	height:58px;
	z-index:100000;
}			
.prev:hover, .next:hover {
	opacity:.7;
}
.prev:active, .next:active {
	opacity:.7;
}


.just_pattern { 
	background-image: url(../images/pattern.png); 
	position: absolute; 
	opacity: 0.8; 
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%; 
	z-index: 1; 
}

.scroll-btn {
	position: absolute;
	font-family: 'OpenSans-Light-webfont';
	font-size: 10px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	bottom:30px;
	left:50%;
	margin-left:-40px;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	width: 80px;
	height:42px;
	background:url('../images/key.png') no-repeat center bottom;
	background-size:50px 35px;
	z-index: 3900;
	opacity:.8;
} 
.scroll-btn {
    -webkit-animation: arrows 3.8s infinite;
    -webkit-animation-delay: 1s;
    animation: arrows 3.8s infinite;
    animation-delay: 1s;
}
  @keyframes arrows {
    0% { bottom:30px; }
    10% { bottom:40px; }
    20% { bottom:30px; }
    30% { bottom:40px; }
    40% { bottom:20px; }
    50% { bottom:40px; }
    60% { bottom:30px; }
    70% { bottom:40px; }
    80% { bottom:20px; }
    90% { bottom:40px; }
    100% { bottom:30px; }
  }
  @-webkit-keyframes arrows {
    0% { bottom:30px; }
    10% { bottom:40px; }
    20% { bottom:30px; }
    30% { bottom:40px; }
    40% { bottom:20px; }
    50% { bottom:40px; }
    60% { bottom:30px; }
    70% { bottom:40px; }
    80% { bottom:20px; }
    90% { bottom:40px; }
    100% { bottom:30px; }
  }

/* #About page
================================================== */

#about{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	z-index:2;
}
#about img{
	width: 100%;
	height:auto;
	display:block;
}
#about h6{
	text-align:left;
	padding-bottom:30px;
}
#about a {
	position: relative;
	display: inline-block;
	margin-top:30px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 12px;
	text-align:center;
}
#about a:hover,
#about a:focus {
	outline: none;
}
.cl-effect-10  {
	position: relative;
	z-index: 1;
	cursor:pointer;
}
.cl-effect-10 a {
	overflow: hidden;
	text-align:center;
}
.cl-effect-10 a span {
	display: block;
	padding: 5px 20px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding-top:5px;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align:center;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}





.background-about-head{
	background:url('http://gopoers.blob.core.windows.net/images/aboutus.jpg') no-repeat center center;
	background-size:cover;
}
.big-text-about{
	font-size:110%;
	text-transform:uppercase;
	padding-bottom:20px;
}

.line-separator{
	position:relative;
	width:100%;
	border-bottom:1px dashed rgba(60,60,60,.1);
	margin-bottom:40px;
	padding-bottom:40px;
}


.skill { 
	list-style-type: none;
	margin: 0;
	text-align:left;
	width:100%;
	position:relative; 
}
.skill li { 
	position:relative; 
	margin-bottom:20px; 
	width:100%;
	background:rgba(233,229,226,.6);
	height:24px; 
	text-align:left;	  
}
.skill li:last-child { 
	margin-bottom:0;	  
}
.skill li p { 
	position:absolute; 
	top:1px;
	left:1px;
	background:rgba(0,0,0,.8);
	padding-top:6px;
	padding-bottom:6px;
	padding-left:25px;
	padding-right:25px;
	color:#fff;
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	text-align:left;
	z-index:2;
}
.bar { 
	height:22px; 
	margin:1px 2px;
	width:100%;  
	position:absolute;
	z-index:1;		
}
.bar-prc1 {
	width:95%; 
}
.bar-prc2 {
	width:85%; 
}
.bar-prc3 {
	width:80%; 
}
.bar-prc4 {
	width:68%; 
}
.bar-prc5 {
	width:90%;
}
.bar-prc6 {
	width:93%; 
}

/* #Team page
================================================== */

#team{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	z-index:2;
}
.background-team-head{
	background:url('http://gopoers.blob.core.windows.net/images/appHeader.jpg') no-repeat center center;
	background-size:cover;
}
.team-img{
	position: absolute; 
	background:#fff;
	border-radius:50%;
	top:-50px;
	right:20px;
	width:120px;
	height:120px;
	z-index:2;
}
.team-img img{
	width:100px;
	height:100px;
	display: block;
	border-radius:50%;
	margin-top:10px;
	margin-left:10px;
}
.team-img1{
	position: absolute; 
	background:#fff;
	border-radius:50%;
	top:-50px;
	left:20px;
	width:120px;
	height:120px;
	z-index:2;
}
.team-img1 img{
	width:100px;
	height:100px;
	display: block;
	border-radius:50%;
	margin-top:10px;
	margin-left:10px;
}
.team-info{
	position: relative; 
	margin-top:50px;	
	background:#fff;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	z-index:2;
}
.team-info h6{
	text-align:left;
	color: #4a3d3d;
	padding-bottom:5px;
}
.team-subtext{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	text-align:left;
	color: #4a3d3d;
	opacity:.4;
	font-style: italic;
	padding-bottom:30px;
}
.team-info p{
	text-align:left;
	padding-bottom:30px;
}
.social-team{ 
	position:relative;
	text-align:left;
	width:100%;	
}
.team-social li {
	margin:0 auto;
    list-style: none;
	text-align:center; 
    display: inline-block;
	cursor:pointer;
}

.team-social li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	padding-right:15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-social li:last-child.icon-team a{
	padding-right:0;
}
.team-social li:hover{
}
.team-social li:hover.icon-team a{
	opacity:.6; 
}
.team-info1{
	position: relative; 
	margin-top:50px;	
	background:#fff;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	z-index:2;
}
.team-info1 h6{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:5px;
}
.team-subtext1{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	text-align:right;
	color: #4a3d3d;
	opacity:.4;
	font-style: italic;
	padding-bottom:30px;
}
.team-info1 p{
	text-align:right;
	padding-bottom:30px;
}
.social-team1{ 
	position:relative;
	text-align:right;
	width:100%;	
}
.team-social1 li {
	margin:0 auto;
    list-style: none;
	text-align:center; 
    display: inline-block;
	cursor:pointer;
}

.team-social1 li.icon-team1 a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	padding-left:15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-social1 li:hover{
}
.team-social1 li:hover.icon-team1 a{
	opacity:.6; 
}

/* #Services page
================================================== */

#services{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	background:#fff;
	z-index:2;
}
.background-services-head{
	background:url('http://gopoers.blob.core.windows.net/images/7.jpg') no-repeat center center;
	background-size:cover;
}

.services-offer{
	position: relative; 
	margin: 0 auto;
	padding-bottom:20px;
	width: 100%;
	background:#f8f8f8;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.services-offer:hover{
    -webkit-transform: scale(1.05);  
    -moz-transform: scale(1.05);  
    -ms-transform: scale(1.05);   
    -o-transform: scale(1.05);   
    transform: scale(1.05); 
	-webkit-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
	        box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
}
.services-offer:hover h6,
.services-offer:hover p,
.services-offer:hover .services-icon1:before,
.services-offer:hover .services-icon2:before,
.services-offer:hover .services-icon3:before{
}
.services-offer h6{
	text-align:center;
	padding-top:20px;
	padding-bottom:30px;
}
.services-offer p{
	text-align:center;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;	
	padding-bottom:20px;
}
.services-offer .services-icon1{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	text-align:center;
	height: 60px;
}
.services-offer .services-icon1:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f0d0";
	width: 100%;
	font-size:40px;
	line-height: 60px;
	display: block;
	text-align:center;
	z-index: 1; 
}
.services-offer .services-icon2{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	text-align:center;
	height: 60px;
}
.services-offer .services-icon2:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f108";
	width: 100%;
	font-size:40px;
	line-height: 60px;
	display: block;
	text-align:center;
	z-index: 1; 
}
.services-offer .services-icon3{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	text-align:center;
	height: 60px;
}
.services-offer .services-icon3:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f0ac";
	width: 100%;
	font-size:48px;
	line-height: 60px;
	display: block;
	text-align:center;
	z-index: 1; 
}

.no-touch.cssanimations .services-offer .services-icon3:before {
	-webkit-animation: spinAround 6s linear infinite;
	-moz-animation: spinAround 6s linear infinite;
	animation: spinAround 6s linear infinite;
}

.services-list p { margin: 10px 0 10px 0;padding:0; }


.list-services li { 
    list-style: none; 
    margin:0 auto; 
    text-align: center; 
	border-top:1px dashed rgba(100,100,100,.1);
	margin-left:20px;
	margin-right:20px;
	font-size: 10px;
	text-transform:uppercase;
}
.list-services li:last-child { 
	border-bottom:1px dashed rgba(100,100,100,.1);
}

.services-offer:hover .list-services li{
	border-top:1px dashed rgba(100,100,100,.1);
}
.services-offer:hover .list-services li:last-child{
	border-bottom:1px dashed rgba(100,100,100,.1);
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}


#last-services{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#last-services h6{
	position:relative;
	display:inline-block;
	padding-left:15px;
	text-align:left;
	color: #343434;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px; 
	line-height: 20px;
	padding-bottom:30px;
}
#last-services p{
	text-align:left;
}
.icon-left1{
	position:relative;
	display:inline-block;
	font-family: 'FontAwesome';
	line-height:32px;
	font-size:22px;
	text-align:left;
	z-index:6;
	width:22px;
	height:32px;
}


.testi-wrap{
	position:relative;
	display:block;
	width:100%;
}
.testi-wrap p{
	text-align:center;
}
.testi-wrap h6{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:30px;
	padding-right:30px;
	font-size: 18px; 
	line-height: 18px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
}
.testi-wrap h6 small{
	font-size:60%;
}
.testi-wrap h6 em:before{
	content:'~';
	padding-right:5px;
	padding-left:10px;
}
.testi-wrap h6 em:after{
	content:'~';
	padding-left:5px;
}

#sync3 .item{ 
	position: relative;
	width: 100%;
}
#sync4{
	position:relative;
    text-align: center;
	margin-top:10px;
}
#sync4 .item{
	position:relative;
	width:100%;
    text-align: center;
	border-top:8px solid rgba(100,100,100,0);
	margin:0 auto;
    cursor: pointer;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
#sync4 .item .arrow-up{
  left:50%;
  margin-left:-7px;
  width:0;
  height:0;
  position:absolute;
  top:-8px;
  margin-left:-7px;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  border-bottom:7px solid rgba(100,100,100,.3);
  z-index:6;
  opacity:0;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
#sync4 .item img{
    width:60px;
	height:60px;
	display:block;
	border-radius:5px;
    text-align: center;
	margin:0 auto;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
#sync4 .synced .item{
	margin-top:7px;
	border-top:1px solid rgba(100,100,100,.3);
}
#sync4 .synced .item .arrow-up{
  opacity:1;
}
#sync4 .synced .item img{
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
#sync4 .item img:hover{
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}



/* #Work page
================================================== */

#work{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	background:#fff;
	z-index:2;
}

.background-work-head{
	background:url('http://gopoers.blob.core.windows.net/images/workheader.jpg') no-repeat center center;
	background-size:cover;
}




.portfolio-wrap{
	position: relative; 
	width: 100%;
	overflow:hidden;
}
.portfolio-box{
	position: relative; 
	width: 100%;
	overflow:hidden;
	display:inline-block;
	float:left;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box img{ 
	width: 100%;
	height:auto;
	display:block;
}
.portfolio-box .mask{ 
	position:absolute;
	background:rgba(255,255,255,.8) url('../images/cross1.png') no-repeat center center;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display:block;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box:hover .mask{ 
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.portfolio-box h4{ 
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:100;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	background:rgba(0,0,0,.4);
	font-weight:400;
	font-size: 12px; 
	line-height:12px;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:7px;
	color:#fff;
	border:1px solid rgba(0,0,0,0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box:hover h4{ 
	border:1px solid #000;
	color:#000;
	background:rgba(0,0,0,.0);
}
#portfolio-filter {
	position:relative;
	width:100%;
	text-align: center;
}
#filter {
	position:relative;
	width:100%;
	padding-top:15px;
}

#filter li {
	display: inline-block;
}
#filter li a {
	position: relative;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px; 
	outline: none;
	color: #706e6e;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	margin-left:8px;
	margin-right:8px;
	margin-bottom:10px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#filter li a:after {
	content:'::::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px; 
	color: #706e6e;
	padding-left:20px;
	opacity:.5;
}
#filter li:last-child a:after {
	display:none;
}
#filter li .current {
	color: #bdb3b3;
}
#filter li a:hover {
	color: #bdb3b3;
}
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}

.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:         top, left, opacity;
            transition-property:         transform, opacity;
}



/* #Single project page
================================================== */

#project{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#last-work{
	position: relative; 
	margin: 0 auto;
	padding-top:50px;
	padding-bottom:50px;
	background:#fff;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#last-work img{
	width: 100%;
	height:auto;
	display:block;
}
#last-work h5{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:40px;
}
#last-work h6{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:30px;
}
#last-work p{
	text-align:right;
	padding-bottom:30px;
}
#last-work p:last-child{
	padding-bottom:0;
}
#project #last-work h5{
	text-align:left;
}
#project #last-work h6{
	text-align:left;
}
#project #last-work p{
	text-align:left;
}
#slider-wrap{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#slider-wrap img{
	width: 100%;
	height:auto;
	display:block;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper{
	position:relative;
	width:100%;
}
.bx-wrapper .bx-prev {
	left: 50%;
	margin-left:-35px;
	bottom:-70px;
	background:url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-next {
	right:50%;
	margin-right:-35px;
	bottom:-70px;
	background:url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-prev:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.bx-wrapper .bx-next:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
#slider-wrap .bx-wrapper{
}
#slider-wrap .bx-wrapper .bx-prev {
	left: 0;
	margin-left:40px;
	bottom:50%;
	margin-bottom:-20px;
	background:rgba(0,0,0,.4) url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
}

#slider-wrap .bx-wrapper .bx-next {
	right:0;
	margin-right:40px;
	bottom:50%;
	margin-bottom:-20px;
	background:rgba(0,0,0,.4) url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px; 
}

#slider-wrap .bx-wrapper .bx-controls-direction a {
	width: 40px;
	height: 40px;
}
#sep1 h1{
	text-align:center;
	color:#fff;
	z-index:20;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#sep1 .sub-font{
	font-family: 'Lato', sans-serif;
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size: 15px; 
	line-height:15px;
	color: #e1dcdc;
	height:15px;
}
#sep1 .z-index{
	z-index:2000;
}
#sep1{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:150px;
	padding-bottom:150px;
	z-index:2;
}
.parallax1 {
	background: url('http://gopoers.blob.core.windows.net/images/platformheader.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}

@media only screen and (min-width: 1930px) { .parallax1 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}

.parallax2 {
	background: url('http://gopoers.blob.core.windows.net/images/carpoolheader.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}

@media only screen and (min-width: 1930px) { .parallax2 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
.padding-project{
	padding-top:50px;
	padding-bottom:50px;
}

.parallax3 {
	background: url('http://gopoers.blob.core.windows.net/images/uftbanner.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}

@media only screen and (min-width: 1930px) { .parallax3 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax3 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax3 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
#thevideo{ 
	display:none;
}

.video{ 
	width: 100%;
	height:auto;
	display:block;
}
iframe{ 
	width:100%;
	height:auto;
	display:block;
}




/* #Contact page
================================================== */

#contact{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:50px;
	z-index:2;
}
.background-contact-head{
	background:url('http://gopoers.blob.core.windows.net/images/8.jpg') no-repeat center center;
	background-size:cover;
}

	#ajax-form {
		width: 100%;
		font: 14px/22px 'Open Sans', sans-serif;
	color:#4d4d4d;
	margin:0 auto;
	}
	label {
		display: block;
		font: 15px/34px 'Open Sans', sans-serif;
	}
	input{
		width: 96%;
		border:none;
		margin-bottom:10px;
		font: 13px/22px 'Open Sans', sans-serif;
		padding-top: 5px;
		padding-bottom: 5px;
		background: rgba(0,0,0,0);
		cursor:pointer;
	}
	textarea {
		width:96%;
		font: 13px/22px 'Open Sans', sans-serif;
		height:75px;
		margin-top:2px;
		padding-top: 5px;
		padding-bottom: 5px;
		border:none;
		background: rgba(0,0,0,0);
		cursor:pointer;
	}
	.error {
		font: 10px/22px 'Open Sans', sans-serif;
		text-transform:uppercase;
		display: none;
		color:#4d4d4d;
	}
	#ajaxsuccess {
		background: #f5f5f5;
		color:#000;
		font: 20px/60px 'Open Sans', sans-serif;
		height:60px;
		display: none;
		padding-left:10px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	#button-con {
	position:relative;
	text-align:center;
		width: 100%;
	margin:0 auto;
	margin-top:10px;
	}
#button-con button{
	width:100%;
	height:40px;
	padding-top:0;
	margin:0 auto;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height:40px;
	color:#fff;
	background: rgba(0,0,0,.4);
	text-transform:uppercase;
 }
#button-con button:hover{
	background: rgba(0,0,0,.6);
 }
.text-align-center{
	text-align:center;
	padding-top:10px;
 }
	#ajax-form textarea:active,
	#ajax-form input:active {	
	  color: #4d4d4d;
	border-bottom:1px solid rgba(100,100,100,.3);}
	#ajax-form textarea:active,
	#ajax-form input:hover {	
	  color: #4d4d4d;
	border-bottom:1px solid rgba(200,200,200,.3);}
		#ajax-form textarea:focus,
	#ajax-form input:focus {	 
    outline: none !important;
    border-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px rgba(0,0,0,.4);}
	#ajax-form textarea,
	#ajax-form input {	
	  color: #4d4d4d;
	border-bottom:1px solid rgba(200,200,200,.3);}

#ajax-form input[type="text"]{
	padding-left:2%;
	padding-right:2%;
}
#ajax-form input[type="text"], textarea{
	padding-left:2%;
	padding-right:2%;
}

#contact h6{
	text-align:left;
	padding-bottom:35px;
}
.con-info{
	position:relative;
	display:block;
	width:100%;
	height:50px;
}
.con-info p{
	color:#4d4d4d;
	padding-left:60px;
	padding-top:10px;
}
.padding-top-page-start{
	padding-top:50px;
}
.con-info a {
	color:#000;
	padding-top:10px;
	text-transform:uppercase;
	font-family: 'OpenSans-Light-webfont';
	font-size: 12px;
	line-height:24px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.con-info a:hover {
	opacity:.7;
}
.con-info .con-icon {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	font-family: 'FontAwesome';
	text-align:center;
	border:1px solid #4d4d4d;
	font-size: 14px;
	line-height: 40px;
	width:40px;
	height:40px;
}
.padding-top-con{
	margin-top:30px;
}

#google_map {
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);
}
#google_map {
	width:100%;
	height:400px;
	z-index:0;
	position:relative;	
	display: none;
}

.button-map {
    cursor: pointer;
    text-align: center;
    position: relative;
    width: 100%;
    display: block;
    color: #323232;
    background: #fff;
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;
    text-transform:  uppercase;
    padding: 30px 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.close-map:after {
	content: "\f107";
	font-family: FontAwesome;
	display: inline-block;
	font-weight: normal;    
	font-style: normal;    
	display: inline-block;    
	text-decoration: inherit;
    margin-left: 16px;
    font-size: 18px;	
}

.show-map:after {
	content: "\f106";
	font-family: FontAwesome;
	display: inline-block;
	font-weight: normal;    
	font-style: normal;    
	display: inline-block;    
	text-decoration: inherit;
    margin-left: 16px;
    font-size: 18px;	
}

.button-map:hover {
    background: #121212;
    color: #fff;
}

.map-tooltip h6 {
	text-transform: uppercase;
	margin-left:20px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;	
}

.map-tooltip p {
	margin-bottom: 10px;
	margin-left:20px;
	font-size: 13px;
	text-align:center;
}




/* #Footer
================================================== */


.footer {
	position:relative;
	width: 100%;
	padding-bottom:20px;
	background:#3A3C42;
}
.footer p {
	text-align:center;
	color:#fff;
	padding-bottom:8px;
	font-size: .9em;
}
.footer .footer-bottom{
	position:relative;
	width: 100%;
	text-align:center;
	margin:0 auto;
	padding-top:20px;
}
.footer .footer-bottom p{
	text-align:center;
}
.footer .footer-bottom img{
	width:90px;
	height:30px;
	display:block;
	text-align:center;
	margin:0 auto;
}

/* #Media Queries
================================================== */


@media only screen and (max-width: 800px) {
h1 { font-size: 38px; line-height:38px; }
#menu-wrap{
    padding-top:45px;
	background:#fff;
}
.logo{
	background:url('../images/logo.png') no-repeat center center;
	background-size:90px 30px;
	width:90px;
	margin-left:-45px;
	height:30px;
}
ul.slimmenu li {
    margin-left:0;
    margin-right:0;
}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
.prev {
	left:100px;
}
.next {
	right:100px;
} 
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.big-text { 
	margin-top:-40px;
	font-size: 40px; 
	line-height:40px;
}
.small-text { 
	margin-top:25px;
}
.social-top{ 
	margin-top:65px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:16px 29px;
	left:20px;
	width:16px;
	height:29px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:16px 29px;
	right:20px;
	width:16px;
	height:29px;
}
#filter li a:after {
	display:none;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.big-text { 
	margin-top:-40px;
	font-size: 30px; 
	line-height:30px;
}
.small-text { 
	margin-top:20px;
	font-size: 20px; 
	line-height:20px;
}
.social-top{ 
	margin-top:50px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:16px 29px;
	left:20px;
	width:16px;
	height:29px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:16px 29px;
	right:20px;
	width:16px;
	height:29px;
}
#filter li a:after {
	display:none;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.big-text { 
	margin-top:-40px;
	font-size: 20px; 
	line-height:20px;
}
.big-text span{ 
	padding-left:15px; 
	padding-right:15px;
}
.small-text { 
	margin-top:20px;
	font-size: 14px; 
	line-height:14px;
}
.social-top{ 
	margin-top:50px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:16px 29px;
	left:20px;
	width:16px;
	height:29px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:16px 29px;
	right:20px;
	width:16px;
	height:29px;
}
#filter li a:after {
	display:none;
}
}

@media only screen and (max-width: 319px) {
.big-text { 
	margin-top:-30px;
	font-size: 15px; 
	line-height:15px;
}
.big-text span{ 
	padding-left:0; 
	padding-right:0;
	padding-bottom:0;
	border:none;
}
.small-text { 
	margin-top:0;
	font-size: 14px; 
	line-height:14px;
}
.social-top{ 
	margin-top:20px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:16px 29px;
	left:20px;
	width:16px;
	height:29px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:16px 29px;
	right:20px;
	width:16px;
	height:29px;
}
#filter li a:after {
	display:none;
}
}



/* #Font-Face
================================================== */



@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}





